body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box img {
    width: 300px;
    height: 300px;
}


.title {
    font-size: 32px;
}

.description {
    font-size: 16px;
}

